@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

/* Navbar */
header {
  background-color: #eee;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  margin-left: 30px;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
 margin: 70px;
}

.nav-links li a {
  color: #222;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.nav-links li a.active {
  text-decoration: underline;
}

.moving-border-button {
  background-color: blueviolet;
  font-family: 'Kanit', sans-serif;
  border-radius: 20px;
  color: #eee;
  font-size: 18px;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-right: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.moving-border-button:hover {
  background-color: transparent;
  color: #333;
}

.moving-border-button:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(45deg, rgba(211, 211, 211, 0.2) 25%, transparent 25%, transparent 50%, rgba(211, 211, 211, 0.2) 50%, rgba(211, 211, 211, 0.2) 75%, transparent 75%, transparent);
  animation: border-move 3s linear infinite;
}

@keyframes border-move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: move-up 1s ease-out forwards 4s;
  }
  
  .gradient-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 100%;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom, #f00, #00f);
    opacity: 0;
    animation: line-appear 2s ease-out 1s forwards;
    z-index: 1;
  }

  .reveal-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: text-appear 2s ease-out 1.5s forwards;
    clip-path: inset(0 100% 0 0);
    z-index: 0;
  }
  
  .reveal-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: text-appear-before 2.2s ease-out 1.4s forwards;
  }

  .reveal-text h1 {

    font-size: 3.6rem;
    font-weight: bold;
    color: #eee;
    text-shadow: 1px 1px #222;
    text-align: center;
    
  }
  
  @keyframes line-appear {
    0% {
      opacity: 0;
      transform: translateX(-50%) scaleX(0);
    }
    20% {
      opacity: 1;
      transform: translateX(-50%) scaleX(1) rotate(0deg);
    }
    80% {
      opacity: 1;
      transform: translateX(-50%) scaleX(1) rotate(15deg);
    }
    100% {
      opacity: 1;
      transform: translateX(-2200%) scaleX(1) rotate(15deg);
    }
  }
  
  @keyframes text-appear {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    50% {
      opacity: 0;
      transform: translateX(-50%);
      clip-path: inset(0 100% 0 0);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%);
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes text-appear-before {
    0% {
      width: 100%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes move-up {
    0% {
      top: 50%;
    }
    20% {
        top: 22%;
    }
    100% {
      top: 20%;
    }
  }

  .section {
    height: 100vh;
    transition: opacity 1s ease-in-out;
  }

  .section1 {
    background-color: #222;
    animation: fadeIn 1s ease-in-out;
  }

  .section2 {
    background-color: #ddd;
    animation: fadeIn 1s ease-in-out;
  }

.section3 {
    background-color: #222;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.section4 {
  background-color: #ddd;
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* photo */
.photo-animation {
  height: 500px;
  width: 100%;
  position: relative;
  top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo-animation-gradient-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, #f00, #00f);
  opacity: 0;
  animation: line-fade-in 3s ease-out 4.5s forwards;
  margin: 0;
  padding: 0;
}

@keyframes line-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-icons-animation {
  width: 30%;
  height: 100%;
  float: left;
  margin-right: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: skillIn 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 6s forwards;
  opacity: 0;
  transform: translateX(100%);
}

@keyframes skillIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    40% {
      opacity: 0.7;
      transform: translateX(-10%);
    }
    80% {
      opacity: 0.8;
      transform: translateX(5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.skill-icons-animation img {
  transition: transform 0.5s ease;
}

.skill-icons-animation img:hover {
  transform: scale(1.5);
}

.description-animation {
  width: 30%;
  height: 100%;
  float: right;
  margin-left: 0;
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  
}

.description-animation h2 {
  font-size: 2.9rem;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 7s forwards;
  margin-bottom: 70px;

}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  40% {
    opacity: 0.7;
    transform: translateX(10%);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.description-animation p {
  font-size: 1.3rem;
  margin: 80px 0 0 0;
  padding: 0.7rem 1.4rem 0.7rem 1.4rem;
  font-weight: 200;
  color: #eee;
  background-color: blueviolet;
  border-radius: 10px;
}

.description {
  position: absolute;
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.description.current {
  animation-delay: 8s;
}

.description:nth-of-type(2) {
  animation-delay: 11s;
}

.description:nth-of-type(3) {
  animation-delay: 14s;
}

@keyframes fadeInOut {
  0%, 33.333%, 100% {
    opacity: 0;
  }
  11.111%, 22.222% {
    opacity: 1;
  }
}

.what-do {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.what-do h1 {
  font-size: 15rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 10rem;
}

.what-do h2 {
  font-size: 8rem;
  margin: 0;
  padding: 0;
  margin-top: 10rem;
}

.what-do h2 span {
  color: blueviolet;
  font-size: 2rem;
}

.what-do-animations {
  position: absolute;
  opacity: 0;
  animation-name: whatDoAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.what-do-animations:nth-of-type(1) {
  animation-delay: 1s;
}

.what-do-animations:nth-of-type(2) {
  animation-delay: 3s;
}

.what-do-animations:nth-of-type(3) {
  animation-delay: 5s;
}

@keyframes whatDoAnimation {
  0%, 33.333%, 100% {
    opacity: 0;
  }
  11.111%, 22.222% {
    opacity: 1;
  }
}

.about-me {
  max-width: 1200px;
  height: 60%;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.about-me p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.9rem;
}

.paragraph-slider {
  position: relative;
}

.paragraph {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.paragraph.active {
  display: block;
  opacity: 1;
}

/* Button Styles */
.section3 button {
  display: block;
  margin: 20px auto 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  color: #fff;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: glowing 2000ms infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px blueviolet;
  }
  50% {
    box-shadow: 0 0 250px blueviolet;
  }
  100% {
    box-shadow: 0 0 10px blueviolet;
  }
}

/* Button Border */
.section3 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

/* Button Hover */
.section3 button:hover {
  color: #eee;
  background-color: blueviolet;
  animation: none;
}

.section3 button:hover::before {
  border-top-color: #fff;
  border-bottom-color: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

/* Button Clicked */
.section3 button:active {
  transform: translateY(2px);
  transition: all 0.1s ease-in-out;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 2rem;
    height: 60%;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-image: url(/assets/images/project-1.jpg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .project-image img {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .project-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    color: #eee;
  }
  
  .project-name {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'Kanit', sans-serif;
  }
  
  .project-description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  .project-tools {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
  }
  
  .project-tools li {
    display: inline-block;
    margin-right: 0.5rem;
    background-color: #eee;
    color: #222;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  
  .project-link {
    background-color: blueviolet;
    font-family: 'Kanit', sans-serif;
    border-radius: 20px;
    color: #eee;
    font-size: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 2rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .project-link:hover {
    background-color: transparent;
    color: #eee;
  }
  
  .project-link:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background-image: linear-gradient(45deg, rgba(211, 211, 211, 0.2) 25%, transparent 25%, transparent 50%, rgba(211, 211, 211, 0.2) 50%, rgba(211, 211, 211, 0.2) 75%, transparent 75%, transparent);
    animation: border-move 3s linear infinite;
  }
  
  @keyframes border-move {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }